/* just some image repeat it self */
body
{
    width: 100%;
    height: 100vh;
    background-image: url('image/food-dodle.jpg');
    background-size: auto;
}

html{
    font-size: 18px;
}

/* all the attribute for the h1 title */
.title-des{
    width: fit-content;
    padding: 10px;
    border: 2px solid;
    border-radius: 16px;
    margin: 10px;
    background-color: aliceblue;
}



/* id for the big boi */
#BigTitle{ 
    padding: 5px;
    background-color: aquamarine;
    font-size: 4rem;
}